<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adventurebook"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="c301.AdventureBook.EditPageActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="c301.AdventureBook.EditOptionActivity"></activity>
        <activity android:name="c301.AdventureBook.EditStoryActivity"></activity>
        <activity android:name="c301.AdventureBook.OfflineLibraryActivity"></activity>
        <activity android:name="c301.AdventureBook.TakePhotoActivity"></activity>
        <activity android:name="c301.AdventureBook.CreateStoryActivity"></activity>
        <activity android:name="c301.AdventureBook.SplashScreenMainActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>